{% extends 'base.html' %}
{% from 'macros.html' import render_todo with context %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title %}
    {{ super() }} Bienvenido
{% endblock %}

{% block content %}
    {% if username %}
        <h1>Bienvenido, {{ username | capitalize }}</h1>
    {% endif %}

    <!-- estructura de control if -->
    {% if user_ip %}
        <p>Hello World from Flask!!! Tu IP es {{ user_ip }}</p>
    {% else %}
        <a href="{{ url_for('index') }}">Ir a Inicio </a>
    {% endif %}


    <div class="container">
        <!--
        <form action="{{ url_for('hello_world') }}" method="POST">
            {{ login_form.username.label }}
            {{ login_form.username }}

            {{ login_form.password.label }}
            {{ login_form.password }}
        </form> 
        -->
        {{ wtf.quick_form(login_form) }}
    </div>

    <!-- estructura de control for -->
    <ul>
        {% for todo in todos %}
            <!-- utilizacion del macro definido -->
            {{ render_todo(todo) }}
        {% endfor %}
    </ul>

{% endblock  %}